<div class="container clearfix" ng-controller="booksCtrl">     
  <div class="book-container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" ng-init="tab = 1">
      <li role="presentation" class="active">
        <a ng-click="tab = 1" data-target="#LbookletsTab" role="tab" data-toggle="tab">Lokayat Booklets</a>
      </li>
      <li role="presentation">
        <a href ng-click="tab = 2" data-target="#LBooksTab" role="tab" data-toggle="tab">Lokayat Books</a>
      </li>
      <li role="presentation">
        <a href ng-click="tab = 3" data-target="#sulabhaBTab" role="tab" data-toggle="tab">Sulabha Brahme Books</a>
      </li>
      <li role="presentation">
        <a href ng-click="tab = 4" data-target="#ramPTab" role="tab" data-toggle="tab">Ram Puniyani Books</a>
      </li>
      <li role="presentation">
        <a href ng-click="tab = 5" data-target="#epubsTab" role="tab" data-toggle="tab">Epubs</a>
      </li>
    </ul>
  </div>  
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="LbookletsTab">
        <div class="panel-body">
          <div class="col-md-6 clearfix" ng-repeat="book in books">
            <book-list></book-list>
          </div>
         </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="LBooksTab">
        <div class="panel-body">
          <div class="col-md-6 clearfix" ng-repeat="book in bigBooks">
            <book-list></book-list>
         </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="sulabhaBTab">
        <div class="panel-body">
          <div class="col-md-6 clearfix" ng-repeat="book in sulabhaBrahme">
            <book-list></book-list>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="ramPTab">
        <div class="panel-body">
         <div class="col-md-6 clearfix" ng-repeat="book in ramPuniyani">
          <book-list></book-list>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="epubsTab">
      <div class="panel-body">
        <div class="col-md-6 clearfix" ng-repeat="book in epubs">
          <book-list></book-list>
        </div>
      </div>
    </div>
  </div>
</div> 