<div class="container top-container clearfix">
	
	<div class="row">
		<div class="col-md-2 date-share">
			<div class="updated-on">Updated on</div>
			<hr class="date-share-seperator">
			<div class="post-date" ng-bind="entry.date"></div>
			<hr class="date-share-seperator">
			<social-share></social-share>
			<hr class="date-share-seperator">
		</div> 
		<div class="col-md-7 news-entry">
			<div class="article-title" ng-bind="entry.title"></div>
			<div class="article-subtitle" ng-bind="subtitle" ng-if="entry.subtitle"></div>
			<div class="article-image"><img class="article-image-img" ng-src="{{entry.img}}"></div>
			<p ng-repeat="p in entry.content">{{p}}</p>
			<div class="row event-info"  ng-if="isEvent">
				<event-info></event-info>
			</div>
			<hr class="hr4">
				<div class="social-share">
					<social-share></social-share>
				</div>	
			<hr class="hr4">
		</div>	
	</div>
</div>