/*   // TODO :: Remove after great internet connection;
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);
.clearfix {
  *zoom: 1;
}
*/          
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media (min-width: 1300px) {
  .container {
    width: 1300px;
  }
}


.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.iframe-width-fixer {
  height: 200px;
}

.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  /*color: #34495e;*/
  color : #000;

  /*background: #efefef;*/
  font-family: 'Istok Web', sans-serif;
  font-weight: 300;
}

a {
  color: #34495e;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}
.btn {
  font-weight: 400;
}
.btn-transparent {
  border: 3px solid #fff;
  background: transparent;
  color: #fff;
}
.btn-transparent:hover {
  border-color: rgba(255, 255, 255, 0.5);
}
a:hover,
a:focus {
  color: #d9534f;
  text-decoration: none;
  outline: none;
}
.dropdown-menu {
  margin-top: -1px;
  min-width: 180px;
}
body > section {
  padding: 50px 0;
}


.btn-social {
  border: 0;
  color: #fff;
  border-radius: 100%;
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  padding: 0;
}
.btn-social.btn-facebook {
  background: #4f7dd4;
}
.btn-social.btn-facebook:hover {
  background: #789bde;
}
.btn-social.btn-twitter {
  background: #5bceff;
}
.btn-social.btn-twitter:hover {
  background: #8eddff;
}
.btn-social.btn-linkedin {
  background: #21a6d8;
}
.btn-social.btn-linkedin:hover {
  background: #49b9e3;
}
.btn-social.btn-google-plus {
  background: #dc422b;
}
.btn-social.btn-google-plus:hover {
  background: #e36957;
}
.btn-social:hover {
  color: #fff;
}

.gap {
  margin-bottom: 50px;
}
.big-gap {
  margin-bottom: 100px;
}
.no-margin {
  margin: 0;
  padding: 0;
}
.registration-form {
  border: 0;
  background-color: #fff;
  padding: 20px;
  display: inline-block;
}
#bottom {
  padding: 50px 0;
  background-color: #1976d2;
  color : #FFF;
}
#bottom h4 {
  margin-top: 0;
  margin-bottom: 15px;
}
#bottom .media-heading {
  display: block;
  font-weight: 400;
}
.row > div {
  margin-bottom: 10px;
}
ul.unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

.home-container {
  text-align: center;
}

.main-page-message {
  background-color: #FFF;
  padding: 15px;
}

.block-image { 
  width: 100%; 
  display: block; 
  margin-bottom: 20px;
  margin-top: 90px;
}

.home-post-date {
  font-size: 14px;
}

.home-post-entry {
  background-color: #EDEDED;
  padding-top: 15px;
  font-family: 'Istok Web', sans-serif;
  font-size: 16px;
}

.home-post-image, .prop-img, .article-image-img {
  margin-bottom: 15px;
  width: 100%;
  display: block;
}

.home-post-title {
  color : #6f5499;
}

.prop-box {
  margin-top: 60px;
}

.video-row {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid gray;
}

.video-desc {
  color: #333333;
}

.prop-title {
  text-align: left;
  border-bottom :  3px solid black; 
  margin-bottom: 25px;
  margin-left: 30px;
} 

.icon-span {
  float: left;
}

.participate-div {
  background-color: #d32f2f;
  margin-top: 50px;
  padding: 40px 0;
}

.participate-text-div > a {
  color : #fff; 
  font-size: 2.3em;
}

.participate-text-div > a:hover {
  text-decoration: underline white ;  
}

/*************** JOIN IN PAGE *********************/

.news-container, .top-container {
  margin-top: 90px;
}

.top-container {
  margin-top: 90px;
  padding-top: 30px;
}

.about-us-div {
  background-color: rgba(0, 0, 0, .50);
  color: #fff;
}

.contact-form-div {
  background-color: rgba(25, 118, 210, .50);
  color: #fff;
  
}

.join-container {
  background: url('/img/joinus.jpg') 0 0 repeat;
}

.news-entry {
    font-family: "Antwerp Bold","Times New Roman",Times,serif;
    font-size: 21px;
}


/***************** Social Share Component********************/

.social-share {
  text-align: center;
}

.social-icon {
  margin-right: 7px;
}
/****************************news article****************************/

.date-share {
  margin-top: 200px;
  margin-left: 15px;
  font-size: 16px;
  color : #808080;
}

.date-share-seperator {
  margin: 3px 0;
}

.updated-on {
  font-size: 13px;
}

.event-info {
  text-align: center;
  vertical-align: middle;
  font-family: 'Istok Web', sans-serif;
}

.event-day {
  font-size: 14px;
}
.event-month {
  margin-top: -15px;
  font-size: 14px; 
}

.event-date, .event-hour {
  font-size: 40px;
  margin-top: -10px;
}

.event-hour {
 display: inline;
}
.event-minute {
  display: inline;
  font-size: 20px;
}

.event-am {
  display: inline;
}

.event-time-info, .col-date, .col-venue {
  vertical-align: middle;
  margin-right: 5px;
  background-color: #d32f2f;
  padding: 10px 0;
}

.event-time-group {
  vertical-align: middle;
}

.event-graphics {
  display: flex;
  padding-top: 15px;
  color : #fff;
}

.event-venue {
  font-size: 16px;
}

.event-graphics {
  margin : 10px 0;
}

.event-group:hover {
  background-color: #34495e;
  transition-duration: .5s;
  transition-timing-function: linear;
}

/****************** news list **************************/

.news-item-img {
  width : 80%;
  padding: 5px 0;
}

.news-item-div {
  margin: 40px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #777777;
}

.news-list-subtitle {
  font-size: 17px;
}
/*********************header & footer******************/

.arrow {
  color : #FFF !important;
}

/*!
 * Start Bootstrap - Small Business HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */


body {
    /*padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */

}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.panel-material-blue-700>.panel-heading {
    background-color: #1976d2;
}

.a-book-download {
    position: absolute;
    bottom: 10px;
}

.navbar .navbar-nav>li>a {
    color : white;
    padding-top: 20px;
    padding-bottom: 10px;
}

.navbar-nav>.active {
    border-bottom: 2px solid #FFF !important;
}

.navbar-nav> li:hover  {
    color: #000 !important;
    font-size: 20px;
    background-color: inherit; 
}

.nav > li > a:focus, .nav > li > a:hover {
  background-color: inherit;  
}

.nav > li > a:focus {
  border-bottom: 2px solid #FFF !important;  
}

.navbar-nav> li:focus {
    border-bottom: 2px  solid #FFF !important;
}

.bookimg {
    max-width: 100%;
    height: 220px;
}

.campimg {
    height: 170px !important;
}

.book-synopsis {
    display: inline-block;
    max-width: 303px;
    max-height: 172px;
    float: left;
    text-overflow: ellipsis;
}

.p-book-synopsis {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 120px;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    max-width: 303px;
    display: block;
    display: -webkit-box;
    overflow: hidden;
}

.book-image {
    width: 40%;
    float: left;
} 

.navbar-material-blue-700.navbar {
    background-color: #1976d2;
    color: rgba(255,255,255,.84);
}

.btn-material-red-700:not(.btn-link):not(.btn-flat) {
    background-color: #d32f2f;
    color: rgba(255,255,255,.84);
}

.btn {
    position: relative;
    padding: 8px 30px;
    border: 0;
    margin: 10px 1px;
    cursor: pointer;
    border-radius: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255,255,255,.84);
    transition: background-color .2s ease,box-shadow .28s cubic-bezier(.4,0,.2,1);
    outline: none!important;
}

.go-back {
    margin: 0 auto;
    width: 60%;
    margin-right: 0;
}

.sug-bar {
    margin-top: 200px;
}

.sug-div-title {
    text-align: right;
}

.sug-div-img {
    right: 0px;
    margin-bottom: 0px !important;
    padding-bottom: 10px;
    border-left: 2px solid #000000;
}

.sug-title a, .read-more {
    color: #000000;
    font-family: "Antwerp Bold","Times New Roman",Times,serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3em;
}

.read-more {
    font-size: 33px;
    font-family: 'Slabo 27px', serif;
    text-align : center;
}


.menu {
    float : right;
}

.join-container {
    font-size: 16px;
    color: #000;
}

.main-panel {
    margin-top: 90px;
}

.book-panel {
    width: 95%;
    display:block;
    background-color: #FFF;
    margin: 5px;
    height: 240px;
}

.book-image, .book-disc {
    padding: 7px;
}


.book-disc {
    width: 60%;
    float: left;
    font-size: 16px;
}
.navbar-cover {
    top: 0;
    width: 100%;
    z-index: 99;
    padding: 15px;
    position: fixed;
    opacity: .9;
}

.navbar-fixed-top .navbar-brand {
    top: 0;
    position: fixed;
}

footer {
    padding: 30px 0;
}

@media(min-width:768px) {
    body {
        /* padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}

.news-panel {
  max-height: 800px; 
}

.event-panel, .pub-panel, .video-panel {
  max-height: 360px; 
}

.join-panel, .connect-pannel {
  max-height: 180px; 
}

.sitemap {
  padding-top: 30px; 
}

body > section {
    padding: 50px 0;
}

.go-input {
    padding: 2px !important;
    border: 2px solid myRed !important;
    background: #fff;
    display: inline-block;
}

.lokayat-title {
    margin-left: 15px;
    font-size: 36px;
    vertical-align: middle;
    font-weight: 600;
    color: #FFF !important;
}

.article, .facebook-share-button {
    text-align: center;
}

.article-title {
    color: #000000;
    font-family: 'Slabo 27px', serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.4em;
    text-align: center;
    margin : 20px;
}

.article-subtitle {
    color: #000000;
    font-family: 'Slabo 27px', serif; 
    font-weight: 400;
    font-size: 22px;
    font-style: italic;
    line-height: 1.4em;
    text-align: center;
    margin : 20px;
}

.article-image {
    margin : 20px 0px 20px 0px;

}
.article-image-img {
    max-width:100%;
    max-height:100%;
    margin-left: auto;
    display: block;
    margin-right: auto;
}

.article-content {
    color: #000000;
    font-family: 'PT Serif', serif;
    font-size: 18px;
    color: #000;
    line-height: 1.4em;
    margin: 30px 0px 30px 0px;
}

.article-content > p > b {
    color: #000000;
    font-weight: 600;
    font-size: 21px;
    line-height: 1.4em;
}

.article-facebook-share {
    margin-left: 40%;
}

hr.hr4 {
    border-top: 1px dashed #f00;
    
    color: #fff;
    background-color: #fff;
    height: 4px;
}